{% extends 'mylayouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}

  <!-- Hero -->
  <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-5 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          
          <h1 class="fw-bolder display-2">{{ album.title }}</h1>
          <span class="fas fa-map-marker-alt me-2"></span>{{ album.location }}</span>
          <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
            {{ album.description }}
          </h2>
          
        </div>
      </div>
    </div>

  </section>

  {% include 'myincludes/components/_bootstrap-carousels.html' %}

  </section>

</main>

{% endblock content %}