{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<main>

  {% include 'includes/pre-loader.html' %}

  <!-- Hero -->
  <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          
          <h1 class="fw-bolder display-2">{{ parameters.titulo.value }}</h1>
          <h2 class="lead fw-normal text-muted mb-4 px-lg-10">
            {{ parameters.subtitulo.content }}
          </h2>
          
        </div>
      </div>
    </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
        <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
      </svg></figure>
  </section>
  

  <div class="section section-sm pb-0 mb-n4">
    <div class="container">
      <div class="row justify-content-center">
        <h3 class="text-center">Galerias</h3>
      </div>
    </div>
  </div>
  {% include 'myincludes/components/_dynamic_cards.html' %}

</main>

{% endblock content %}