{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main>

        {% include 'includes/pre-loader.html' %}

        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">A Vingança de Jussara <br class="d-none d-md-inline">O conto</h1>
                        <p class="lead mb-4 text-muted">Quando Ju nao deixa barato os mau-comportamentos do seu marido</p>
                        <a href="{% url 'contact_us' %}" class="btn btn-tertiary me-3 animate-up-2">versao blog <span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="{% static 'assets/img/illustrations/about-illustration.svg' %}" alt=""></div>
               </div>
            </div>
        </section>
        <!-- End of Hero section -->
        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="{% static 'assets/img/sections/cov.png' %}" alt="Office Desk">
                    </div>
                    <div class="col-md-10 col-xl-10 text-center text-md-left">
                        <h2 class="h1 mb-5">O casal</h2>
                        <p class="lead">Filipe e Jussara, ou Fils e Ju como se chamavam, formavam um casal explosivo, com uma química inegável e um humor ácido. Ele, com seu humor característico safadeza e criatividade, sempre encontrava formas de divertir a esposa.

Ju, com seu olhar penetrante e sua língua afiada, por sua vez, adorava um bom desafio e não perdia a oportunidade de provocar Fils, testando seus limites. As brincadeiras entre eles eram constantes, um jogo de sedução que alimentava a paixão. Seria divertido para eles  Ju chegar atrasada em casa e, ao ser questionada por Fils, responder com um sorriso malicioso, "A desculpa, é que o cara que eu chupei no banheirão demorou pra gozar, gatinho."

Ele, por sua vez, adorava a intensidade da relação e respondia às provocações com a mesma energia. As discussões eram frequentes, mas sempre se resolviam em um abraço apaixonado.

Recentemente, a rotina do casal mudou bastante. Fils, antes tranquilo e despreocupado, agora trabalhava até tarde, sempre cansado e estressado. Ju, sentindo-se mal tratada e começou a se preocupar. Assuntos financeiros antes tratados com mais leveza e entusiasmo agora era motivo de discussões acaloradas.

Um dia, enquanto mexia no celular de Fils, procurando por um número de telefone, Ju se deparou com uma pasta protegida por senha. A curiosidade a consumia e, não conseguiu desbloqueá-la. A insegurança que já a assombrava se intensificou.

Aquele achado, à ausência de Fils e a atual dinâmica da casa, alimentou a desconfiança de Ju. o que ele poderia estar escondendo? Ela começou a imaginar os piores cenários: Fils a traindo, mentindo para ela, vivendo uma vida dupla. A cada dia, a confiança, antes sólida, agora parecia mais um castelo de areia.
A gota d'agua veio em uma tarde no bar com amigos. Fils piscou impulsivamente para uma amiga, mas isso pegou mal para Ju. ele instantaneamente percebeu  a cagada que tinha feito. Ela ficou morrendo de raiva, embora não dissesse nada na hora, guardando a mágoa alguns dias.

Dias depois estavam no sofá, assistindo a um filme qualquer na TV, quando Fils, com um sorriso malicioso, virou-se para Ju e disse, "Sabe, gatita, se esse filme fosse um pouco mais interessante, talvez eu não estivesse pensando em como seria bom te comer agora."

Ju, respondeu com um olhar provocador, "E se eu te dissesse não estou mais interessada  nesse filme chato, gatinho?" Ela se inclinou para ele, passando a mão suavemente por sua perna, subindo até seu colo.

Fils riu, aproveitando o momento para dar um tapa brincalhão na bunda dela, "Então vamos resolver isso, porque eu também estou interessado em te ouvir gemer do que em qualquer outra coisa." Ele a puxou para si, suas mãos explorando sua bunda com mais intensidade, insinuando claramente o que queria.

Com um jeito safado, Ju se levantou, puxando Fils pela mão, "Vamos, gatinho, me mostre o que você tem guardado." Ela o levou até o quarto, onde o clima mudou instantaneamente para algo mais íntimo e quente.</p>
                       <h2 class="h1 mb-5">O prelúdio</h2>
                        <p class="lead">No quarto, a atmosfera estava carregada de desejo e tensão. Fils empurrou Ju contra a parede com uma força que misturava paixão e domínio, suas mãos já puxando o ziper das calças dela. "Você é bem safadinha, sabia?" ele murmurou, enquanto começava a beijá-la com  intensidade.

"Muito safada!... Eu sou sua putinha, e você gosta! Esse seu pinto duro não mente," Ju respondeu, sua voz carregada de provocação enquanto desabotoava a calça dele, sentindo sua ereção crescer.

Fils, olhando-a diretamente nos olhos a colocou de quatro na cama. Suas mãos agarraram seus quadris com firmeza, puxando-a para si a cada investida. Fils aumentou o ritmo, o som de batida foi preenchendo o quarto.

"Vem! Enfia esse pinto em mim! Mete assim que eu gosto!" Ju gemeu, sua voz um misto de prazer e desafio, cada palavra carregada de luxúria, enquanto sentia o pau dele deslizando dentro e fora de sua buceta molhada, cada estocada uma promessa de mais prazer.

Fils deu um tapa forte em sua bunda, provocando um arquejo misturado com um gemido de prazer de Ju. "Assim que você gosta de ser comida né? Adoro esse gemido quando você goza" ele disse, sua voz rouca de desejo.

"Sim, gatinho, usa esse pau gostoso pra eu gozar! Continua assim mesmo" Ju respondeu, virando a cabeça para olhá-lo com um sorriso provocador, "Mas se você não me satisfizer, eu vou encontrar quem faça. Hahaha." Fils rapidamente respondeu. " É mesmo? E você acha que da conta de mim?"
"Dou! Eu sou uma puta , Mas se você não me fizer gozar como nunca, vou ter que procurar mais alguém para terminar o serviço.." respondeu ela voz de prazer e um sorriso maldoso. Fils no entanto ficou animado com o fogo da esposa!

Ju nesse momento preparava o terreno para sua vingança. Aquela piscadinha não passaria impune. Usando a dinâmica de ser chamada de puta e safada como uma arma, algo que excitava Fils e que ela usaria para justificar sua próxima jogada. A sessão continuou com essa intensidade, onde cada investida, cada tapa, cada palavra suja era uma promessa de prazer e uma ameaça de vingança.</p>
                        <h2 class="h1 mb-5">A ameaça</h2>
                        <p class="lead">Ele deu um tapa suave em sua bunda, provocando um arquejo dela, "Rebola essa bundinha no meu pau!" Ju virou a cabeça, olhando para ele com um sorriso malicioso, "Rebolando assim que você gosta? "  disse enquanto batia sua bunda nele, gozando pela primeira vez na noite.
"Haha, então, hoje você vai sair daqui pra procurar outro?"
Ju gemeu alto, sentindo cada impulso, "Talvez eu só precise de um pinto novo pra variar." Ela sabia que estava tocando em um ponto sensível, mas a raiva da piscadela ainda estava fresca.
Fils ria e gostava da brincadeira
"Só se eu não der conta! Dai pode ir em um buteco da prudente"
"Você acha que eu não faria, né, gatinho?" Ela disse, com um tom que misturava humor com um leve veneno, enquanto estava agora deitada de lado, uma perna levantada, permitindo que Fils continuasse a penetrá-la profundamente, suas mãos explorando seu corpo Fils riu, puxando-a mais para perto, "Ah, é? E quem você vai encontrar que vai te comer como eu, gatita?" Ele mudou de posição, colocando-a deitada de barriga para baixo, enquanto ele permanecia de joelhos, levantando-a levemente pela cintura para continuar a penetração com mais intensidade.

Mas Ju estava determinada. "Você vai ver. Se eu não gozar como nunca, vou procurar alguém que me faça gozar até perder a consciência," ela disse, com um olhar que misturava desafio e vingança.

Fils, sentindo a mudança no tom dela, parou por um momento, olhando-a nos olhos, "Você está falando sério agora, Ju?" Ele estava deitado atrás dela, em uma posição de colher, suas mãos agora segurando seus seios, seus movimentos lentos, mas intensos, enquanto esperava pela resposta.

"Continua duvidando, só pra te mostrar como é quando você me deixa com raiva," ela respondeu, com uma determinação que misturava desejo e vingança, enquanto se movia contra ele, aumentando a fricção.

Fils sorriu, voltando ao ritmo, "Vamos ver se você tem coragem, gatita." Ele assumiu ser um blefe. Ju assumiu o, controle do ritmo com o quadril. Os olhos de Fils fixos nos dela, desafiando-a a continuar com essa ameaça.
A tensão entre eles cresceu até que Fils sentiu que estava chegando ao limite. Ele a virou rapidamente, colocando-a de joelhos na frente dele, com o rosto voltado para ele. "Abre essa boquinha, gatita," ele ordenou, da forma a a algum tempo não fazia. Ju obedeceu, olhando para ele com um olhar provocador enquanto ele se posicionava na frente dela.

Fils gozou, sobre o rosto e na boca aberta de Ju. "Isso é pra você lembrar de quem te faz gozar!" Ele disse, sua voz misturando triunfo e posse, enquanto ela limpava o rosto com um sorriso safado, "Você é minha, gatita!"</p>
                        <h2 class="h1 mb-5">O bar</h2>
                        <p class="lead">Assim que acabaram. Ele foi para o chuveiro passar uma agua no corpo. Ju se levantou da cama, limpou seu rosto e vestiu-se rapidamente! Quando fils percebeu ela disse, com um olhar de determinação, disse, "Agora é a minha vez, gatinho. Não me espere acordado."

Fils ficou surpreso, mas sua curiosidade e o desejo de ver até onde ela iria o mantiveram no jogo. Ele não dormiu, esperando por ela, imaginando até onde ia essa brincadeira dela.

Depois de deixar Fils na cama, ainda excitado e curioso, Ju vestiu um vestido blazer verde vazado, que marcava suas curvas de maneira sedutora, deixava um vislumbre tentador de pele na cintura. suas sandalhas douradas e prendeu seu cabelo rapidamente num rabo de cavalo e com um propósito claro em mente, ela saiu de casa. A noite estava fresca, e um bar bem movimentado não ficava muito longe. Ao chegar, a atmosfera era animada, com música alta e pessoas bebendo.

Ela entrou com confiança, seus olhos varrendo o lugar até encontrar um alvo potencial: um homem alto, de aparência atraente, sentado sozinho no balcão. Com um sorriso sedutor, Ju se aproximou, sentando-se ao lado dele. "Oi, gatinho," ela disse, usando o apelido que normalmente reservava para Fils, mas agora com um tom de desafio. "Você parece alguém que sabe se divertir. Que tal me mostrar?"

O homem, surpreso mas claramente interessado, sorriu de volta. "E o que você tem em mente?" ele perguntou, inclinando-se mais perto.

"Algo que nos faça esquecer tudo por um tempo," Ju respondeu, sua voz baixa . Ela deu uma piscadinha sugestiva para ele pensando que a vingança começaria com a mesma moeda. Sem esperar muito, ela pegou sua mão e o levou para fora do bar, para a rua atrás do bar, onde estava estacionado o carro dele, uma área meio deserta que oferecia a privacidade necessária.</p>
                       <h2 class="h1 mb-5">A vinganca</h2>
                        <p class="lead">Lá, sem perder tempo, Ju se aproximou do homem, puxando-o pela camisa, beijando-o com intensidade, deixando claro o que ela queria. Ele respondeu com igual fervor, suas mãos explorando seu corpo, deslizando pelo tecido do vestido até encontrar a abertura na cintura, e ao sentir sua pele quente, segurou-a com firmeza. Ju desabotoou rapidamente a calça dele, libertando seu pau já duro, e sem hesitação, se abaixou, chupando-o com uma habilidade que o deixou gemendo de prazer.

Enquanto ela estava abaixada, o homem notou o brilho da aliança no dedo dela. Ele parou por um momento, tocando o ombro dela para que ela olhasse para ele. "Você é casada?" ele perguntou, com um tom de surpresa e curiosidade.

Ju tirou o pinto da boca, e ainda segurando com sua mão da aliança, levantou os olhos diretamente para os dele com um sorriso desafiador. "Sim, sou. Mas meu marido não se importa"
Ele meio desconfiado disse "É serio?" ."Essa brincadeira, foi uma aposta que meu marido perdeu," ela explicou, sua voz carregada de uma mistura de sinceridade e provocação. E continuou.

O homem olhou para ela... Após um momento, ele sorriu, "Então, vamos fazer valer a pena essa aposta."

Depois de alguns minutos, ela se levantou, virou-se, levantou o terninho e abaixou a calcinha, apoiando-se contra o carro. "Agora me come até eu perder noção, gatinho! Mete esse pinto em mim, que eu sou sua puta hoje," ela ordenou, sua voz carregada de desejo e vingança.

Ele não precisou de mais incentivo, mas antes , eles entraram no carro para mais privacidade. Ele a penetrou por trás com força, suas mãos firmes em seus quadris. O sexo foi rápido e intenso, Ju controlando o ritmo, movendo-se contra ele para garantir seu próprio prazer. Ela gozou com um gemido agudo abafado, sentindo a satisfação de sua vingança, enquanto ele a seguia logo depois.

Com um sorriso satisfeito, Ju se recompôs, ajustando o terninho e agradecendo ao homem com um beijo rápido. "Foi divertido, gatinho," ela disse, antes de se afastar, deixando-o ali, ainda atordoado.</p>
                        <h2 class="h1 mb-5">A Volta pra casa</h2>
                        <p class="lead">A caminhada de volta para casa foi  uma mistura de emoções para Ju. O ar da noite parecia carregar um peso diferente agora. A adrenalina ainda corria em suas veias, mas havia também uma sensação de realização. O vestido ligeiramente amarrotado balançava suavemente com seus movimentos, a calcinha na mao era, um lembrete silencioso da noite que tinha sido.

Chegando em casa, estava escura exceto pela luz fraca que vinha do quarto. Com a determinação renovada, sabendo que o confronto que a esperava seria tão importante quanto o ato de vingança que acabara de cometer. Quando abriu a porta do quarto, encontrou Fils ainda acordado, sentado na cama com as costas apoiadas na cabeceira, uma mistura de expectativa e curiosidade em seu olhar, mas com um toque de nervosismo que ele tentava disfarçar.

"Você achou que eu não faria, né?" Ju disse, com um tom de triunfo e desafio, enquanto se jogava na cama ao lado dele. Ela se virou para encará-lo, seus olhos brilhando com a intensidade da experiência recente.

Fils a observou, notando o brilho em seus olhos, a leve desordem no cabelo, e o vestido ainda bem ajustado, exceto por um leve desalinho que indicava o teor do encontro anterior. "E então?" ele perguntou, sua voz calma, mas com um leve tremor que denunciava sua ansiedade.

"Eu fui até o bar, encontrei um cara," Ju começou, aproximando-se mais dele, sua voz baixa e íntima, "Você duvidou e eu fiz.. ... Eu disse que queria mais pintos! Agora sim,fiquei satisfeita".
"Mas oi??????" ele tomou um susto nesse momento ele também notou a calcinha embolada na mao esquerda.
"Então, gatinho, peguei o cara do bar,  fiz ele me comer direitinho,e olha..." Ju começou, aproximando-se mais dele, sua voz baixa e íntima, "Primeiro, eu chupei ele atrás do carro , na rua mesmo! Aí pensei, 'por que não?'  ele me comeu no carro de 4 que nem uma cadela .,. E olha...foi demaaais! haha! Você pagou pra ver, né? Não foi traição, foi uma aposta que você perdeu, gatinho. Agora, talvez você pense duas vezes antes de piscar pra puta por aí, especialmente na minha frente. "

Fils engoliu em seco, mas desta vez não se conteve. "Você é uma cachorra, Ju. Não creio que você fez isso." ele disse, com uma mistura de raiva e admiração na voz.

Ju, sem perder o ritmo, respondeu com sarcasmo, "Ah, obrigada pelo elogio, querido. Eu sabia que você ia gostar de saber que eu posso ser mais safada do que as putas que você olha por ai. não é mesmo? E, no final das contas, foi você quem me deu a ideia de procurar alguém no bar, não foi?"

Fils, tentando manter a compostura, mas visivelmente abalado, continuou, "Você fez isso só para me provocar, não é?"

"Exatamente," Ju disse, inclinando-se para mais perto, seu tom sarcástico ainda presente. "Eu só joguei o seu próprio jogo, gatinho. E, olha só, eu ganhei. Você deveria pensar melhor antes de tentar me testar."

Fils, sentindo uma mistura de ciúme, alívio e um novo tipo de desconforto, não conseguia desviar o olhar dela. "Eu vou deixar essa passar, Ju..." ele prometeu, sua voz um pouco mais firme agora, "mas você me deve uma."

Ju, sorrindo, o beijou suavemente nos lábios, suas mãos explorando o tecido do vestido. "É claro. Eu te amo, gatinho. Eu ainda sou sua. Isso foi só para te dar uma lição! Não me subestime." Ela afastou-se ligeiramente para olhar em seus olhos, o desafio ainda presente em seu olhar.

Eles se deitaram na cama, o vestido de Ju ainda parcialmente vestido, enquanto ela traçava círculos leves na pele dele, uma forma de carinho que vinha dela.

 </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->
        <!-- Section -->


    </main>

    {% include 'includes/cta-careers.html' %}

    {% endblock content %}

    {% block footer %}
    
        {% include 'includes/cta-footer.html' %}
    
    {% endblock footer %}


